:root {
    --teVerde: #DDF9C1;
    --durazno: #F8DDA4;
    --naranja: #D45113;
    --azafran: #F9A03F;
    --marron:#813405; 
    --negroS: #0f0f0f;
}

body{
    background: linear-gradient(160deg, var(--naranja),var(--durazno));
    
    color: var(--negroS);
    text-align: center;
    padding-top: 50px;
}

.card {
    background: linear-gradient(0deg, var(--azafran),var(--teVerde));
}


.card img  {
    border-radius: 8px;
    border: solid 4px var(--marron);
}
